@{
    
}

<h2>Home</h2>

<span>Welcome to Adgistics Report Tool. Please select a report from the navigation menu on the top of the page.</span>
<ul>
    <li>Top performing dealerships The top 100 dealerships in terms of overall sales.</li>
    <li>Low stock dealerships All the dealerships which have less than 10 available stock.</li>
</ul>
